@charset "UTF-8";
/* CSS Document */

/*公用样式表  头部，底部，分页，字体，字号*/
/*media的判断可以根据需要自定义新增或修改，基础的基本上够用了*/

.s_tmpl_footer
{
   background:#fff;
}



@media only screen and (max-width:1366px) {
  
  #c_static_001-1646539009342 .e_text-3{
  font-size:30px;
  
}

#c_static_001-1646539009342 .e_container-2{
  margin-top:5%;
}

#c_static_001-1646539009342 .e_richText-5 span{
  font-size:15px;
}
#c_static_001-1646539009342 .e_richText-5{
text-overflow: -o-ellipsis-lastline;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;


}

#c_static_001-16465493526150{
  margin-top:10%;
}
  
  #c_static_402-1646636489091 .e_richText-12,
  #c_static_402-1646636489091 .e_richText-38,
  #c_static_402-1646636489091 .e_richText-66,
  #c_static_402-1646636489091 .e_richText-67,
  #c_static_402-1646636489091 .e_richText-70
  {
     font-size:15px !important;
  }
  #c_static_402-1646636489091 .e_text-69,
 #c_static_402-1646636489091 .e_text-65,
  #c_static_402-1646636489091 .e_text-63
  {
     font-size:24px !important;
  }
  
}


@media only screen and (max-width:1280px) {
  #c_static_402-1646636489091 .e_richText-12,
  #c_static_402-1646636489091 .e_richText-38,
  #c_static_402-1646636489091 .e_richText-66,
  #c_static_402-1646636489091 .e_richText-67,
  #c_static_402-1646636489091 .e_richText-70
  {
    line-height:2;
     font-size:14px !important;
   
  }
  #c_static_001-1640615603113,#c_static_001-1640616153839{
    width:100%;
  }
  #c_static_001-1646636450386 .e_container-1{
    width:92%;
  }
  #c_static_402-1646636489091 .e_container-62,#c_static_402-1646636489091 .e_container-68{
    width:96%;
  }
  #c_static_402-1646636489091 .e_container-64{
    margin-top:20px;
     width:96%;
  }
  #c_static_402-1646636489091 .e_container-31 .cbox-31-1{
    display:None;
  }
  #c_static_402-1646636489091 .e_text-69,
 #c_static_402-1646636489091 .e_text-65,
  #c_static_402-1646636489091 .e_text-63
  {
     font-size:20px !important;
     font-weight:bold;
  }
  
}

/*小屏开始*/
@media only screen and (max-width: 768px) {
  #c_static_001-16452639977380{
    width:100%;
  }
  #c_static_001-1645191063287 .e_container-7{
    padding:5px;
  }
  #c_static_001-1645191190233 .e_richText-1{
    font-size:14px;
  }
  #c_static_184-16466331768640{
    width:100%;
  }
  #c_static_184-16466331768640 .e_loop-31 .p_loopitem {
    flex-basis:auto;
    width:31%;
    margin:1%;
}
  #c_static_001-1646634101483 .e_richText-2{
   font-size:14px;
  }
  #c_static_184-16466331768640 .p_loopitem .e_image-33 {
    border: solid 1px #ebeef5 !important;
}
  #c_static_001-1645191063287 .e_line-2 {
    display-radio: 1;
    margin-top: 15px;
  }
  #c_static_001-1645191063287{
  margin-top: 6%;
  }
  #c_static_001-1646644874881{
    margin-top:0px;
  }
  #c_static_001-16466451648520,#c_static_001-16466451678350{
    margin-bottom:0px;
  }
  #c_static_001-1646626086618,#c_static_001-16451906970410{
     width:100%;
  }
  #c_static_001-16451906970410 .e_text-6 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #c_static_001-16451906970410 .e_loop-4{
      margin-top: 15px;
        margin-bottom: 15px;
  }
  #c_static_001-16451906970410 .e_loop-4 .p_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  #c_new_detail_012-1640616728198 .e_container-2{
    margin-top:0px;
  }
  #c_static_001-16453597489230 .e_text-7{
    text-align:center;
  }
  #c_static_001-16453597489230 .e_loop-6 .p_loopitem {
    flex-basis: calc(100% / 3);
}
  #c_static_001-16453597489230{
    width:100%;
  }
  #c_new_list_083-1646622384999 .e_container-11 {
    display: block;
        min-height: 60px;
  }
  #c_new_list_083-1646622384999{
    margin-top:0px;
  }
  #c_static_001-1645348383550 .e_line-2 {
    display-radio: 1;
    margin-top: 20px;
}
  #c_new_list_083-1646622384999.response-animated .e_container-7{
    margin-bottom:15px;
  }
  #c_new_list_083-1646622384999 .e_timeFormat-12{
  font-size: 20px;
  }
  #c_new_list_083-1646622384999 .e_text-9{
  font-size: 18px;
  }
  #c_new_list_083-1646622384999 .e_text-10{
  line-height: 1.5;
        font-size: 14px;
  }
  #c_new_list_083-1646622384999 .e_button-18{
   margin-left:10px;
    margin-bottom:20px;
    font-size:12px;
  }
  #c_new_list_083-1646622384999 .e_container-11{
      margin-top: 0;
  }
  #c_new_list_083-1646622384999 .e_container-11{
     border:none;
  }
  #c_new_list_083-1646622384999 .e_timeFormat-39{
     display:None;
  }
  #c_new_list_083-1646622384999 .e_container-11
  {
     border-left:0px;
  }
  
  #c_static_001-1640616153839 .e_container-1 .cbox-1-0{
     display:None;
  }
  #c_static_001-1640616153839 .e_text-7 {
    font-size: 13px;
    text-align: center;
}
  #c_static_001-1640616153839 .e_loop-6{
  max-width:100%;
  }
  #c_static_001-1640616153839 .e_loop-6 .p_loopitem {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 3);
}
  #c_product_detail_008-1640874111056 .e_container-6 .cbox-6-0{
  flex: 0 0 100%;
    margin:0px;
    pdding:0px;
  }
  #c_product_detail_008-1640874111056 .e_magnifier-5 .small-img{
    width:100%;
  }
  #c_product_detail_008-1640874111056 .e_magnifier-5 .magnifier-line li {
    float: left;
    cursor: pointer;
    padding: 0 3px;
}
  #c_static_001-16454154155370,#c_static_001-16454154155370 .e_container-1{
    width:100%;
  }
  #c_static_001-16454154155370 .e_loop-7 .p_list {
    text-align: center;
}
#c_static_242-1646638374809 .e_container-39 .cbox-39-0 {
    flex: 0 0 25%;
}
  #c_static_242-1646638374809 .e_richText-50 {
    font-size: 14px;
    line-height: 1.5;
}
  #c_effect_022-1646642294065 .e_container-9{
    padding:0px;
    padding-top:10px;
  }
  #c_effect_022-1646642294065 .e_text-10{
    font-size:14px;
  }
  #c_static_242-1646638374809 .e_text-47{
    font-size:20px;
  }
  #c_effect_022-1646642294065 .e_container-7 > .p_item{
    padding:10px;
  }
  #c_effect_022-1646642294065 .e_container-7{
    margin:8px;
  }
  #c_static_242-1646638374809 .e_loop-37 .p_loopitem{
  padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 15px;
  }
  #c_static_001-1640608510058 .e_text-5{
    display:None;
  }
  
  #c_static_001-1640608510058{
    margin-top:10%;
  }
  #c_static_001-1646394417024 .e_container-3{
      padding: 7%;
    width: 100%;
  }
  #c_static_001-1646394417024 {
    margin-top: 4%;
    margin-bottom: 3%;
    width: 92%;
}
  #c_static_001-1646394417024 .e_text-5{
    text-align:center;
  }
#c_static_001-1646394417024 .e_container-10 > .p_item{
    display:None;
  }
  .hl_left{
  font-size:18px;
    float: none;
    width: 100%;
  }
  .hl_right {
    float: none;
    width: 100%;
    max-width: 100%;
}
  .number p {
    font-size: 40px;
  }
  .number li sup {
    top: -1.15em;
    font-size: 14px;
    left: -5%;
}
  .number h2 {
    font-size: 14px;;
}
  .number li {
    width: 50%;
}
  #c_static_001_P_893-1646553345326 .e_loop-1 .p_loopitem {
    flex: 100%;
    position: relative;
}
  #c_static_001_P_893-1646553345326 .e_line-11{
  display:None;
  }
  #c_static_001_P_893-1646553345326 .e_text-4{
  font-size:16px;
  }
  #c_static_001_P_893-1646553345326 .e_text-5{
      font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #c_static_001-1646539009342 .e_container-1 .cbox-1-0 {
    width: 100%;
}
  #c_static_001-1646539009342 .e_text-3 ,#c_static_001-16465554097640 .e_text-1,#c_static_001-16465493526150 .e_text-1{
    font-size: 24px;
}
  #c_static_001-1646539009342 .e_richText-5 span{
    font-size:15px !important;
    line-height:1.8;
  }
  #c_static_001-1646394417024 .e_loop-1 .cbox-1:nth-child(3) .e_container-3 {
   background-color: rgba(248,248,248,1);
}
  #c_static_001-1646539009342 .e_richText-5{
   line-height:2;
  }
    #c_static_001-16465493526150{
    margin-bottom:0
  }
    #c_static_001-1646394417024 .e_loop-1 .cbox-1:nth-child(4) .e_container-3 {
     background: linear-gradient(to right,#cfcfcf,#eeeeee);
}
  #c_static_001-1646394417024 .e_loop-1 .cbox-1:last-child{
    display:None;
  }
  #c_static_001-1646394417024 .e_text-5 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
  #c_static_001-1646394417024 .e_loop-1 .p_list {
    display: block;
}
  #c_static_001-1646394417024 .e_container-3{
  display: block;
  }
  #c_static_001-1646394417024 .e_container-9{
    width:100%;
  }
  #c_static_001-1646394417024 .e_richText-7{
    display:none;
  }
  #c_banner_011-1640608231386 .e_bannerA-1 .swiper-container {
    height: inherit;
    transform: scale(1.2);
    margin-top: 15px;
}
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px;
}
  #c_banner_011-1640608231386 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
  #c_static_001-1646383616990
  {
     display:none;
  }
  #c_navigation_0061635239687823 .e_container-1 .cbox-1-2{
    display:none;
  }
  #c_navigation_0061635239687823 {
 
    padding-bottom: 10px !important;
}
  .p_iconBox .p_openIcon{
  margin-top:0px;
    margin-right:0px;
  }
  #c_banner_011-1640608231386{
    width:100%;
  }
  #c_navigation_0061635239687823 {
    padding-top: 0;
    padding-bottom: 0;
}
#c_navigation_0061635239687823 .e_container-1 .cbox-1-0 {
      flex: inherit;
    float: left;
    width: 32%;
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
}

#c_navigation_0061635239687823 .e_container-1 .cbox-1-2 {
    flex: inherit;
    /* float: right; */
    width: 100%;
    background: #e5e5e5;
    padding: 6px;
    margin-top: 6px;
}
  #c_navigation_0061635239687823 .e_navigationA-12 .p_iconBox {
    height: auto;
    padding: 10px;
    width: inherit;
    text-align: right;
    float: right;
}
  
  #c_navigation_0061635239687823 .e_container-1 .cbox-1-1 {
    flex: inherit;
    /* float: right; */
    /* width: 60%; */
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;

}
  
  #c_navigation_0061635239687823 .e_navigationA-12 .p_level1Box {
    padding: 0;
    display: none;
    height: calc(100vh - 57px);
    width: 100%;
    background: #fff;
}
  #c_navigation_0061635239687823 .e_navigationA-12 .p_level2Item .p_menuItem{
    text-align:left;
  }
  #c_navigation_0061635239687823 .e_navigationA-12 .p_jtIcon {
    float: none;
    margin: 15px 0;
    transition: 0.5s;
    position: absolute;
    right: 5%;
}
  #c_navigation_0061635239687823 .e_navigationA-12 .p_level2Box{
  padding-left: 0;
  }
  #c_navigation_0061635239687823 .e_navigationA-12 .p_level1Item:hover {
    background: #fff;
    border-radius: 0;
}
  #c_navigation_0061635239687823 .e_navigationA-12 .p_level1Item:hover .p_menuItem {
    color: #5a5a5a;
}
  #c_navigation_0061635239687823 .e_navigationA-12 .p_menuItem {
    line-height: 70px;
    font-size: 17px;
    color: #333;
    height: 70px;
    font-weight: bold;
}
  
  #c_navigation_0061635239687823 .e_image-3 img {
    width: 90%;
}
  #c_navigation_0061635239687823 .e_container-1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
}
  .head_li img{
  width:20px;
  }
  .other_qh a.en_dot {
    color: #696969;
    font-size: 14px;
}
  
  .other_qh a.cn_dot {
    color: #ba3634;
    font-size: 14px;
}
  .s_title{
   line-height:1.5;
  }
  #c_static_001-1640616153839 .e_text-6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
 
  #c_static_001-1640607169403 .e_provider-6{
   text-align:center;
  }
  .right_bar{
    display:None;
  }
  #c_static_001-1640616153839 .e_loop-4 .p_loopitem{
    padding-right:0px;
  }
  /*头部结束*/
  #c_static_184-1646571144642 .e_image-33{
    border:solid 1px #ebeef5 !important;
  }
  #c_static_184-1646571144642 .e_loop-31 .p_loopitem{
    margin:2%;
    width:29%;
        flex-basis: inherit;
  }
  #c_static_001-16465554097640{
    margin-bottom:10px;
  }
  #c_static_001-1640608510058 .e_text-4 {
    font-size: 24px;
}
  #c_static_001-1640608510058 .e_text-5 {
    font-size: 13px;
    line-height: 1.5;
    word-break: break-word;
}
  
  #c_static_001-1640608510058 .e_container-1{
  margin-top: 8%;
  }
  #c_product_list_002-1640873025827 .e_container-4{
  margin-bottom: 15px;
  }
  #c_static_001-1640609118732 .e_container-3 .p_item{
    margin:auto;
  }
  
  #c_static_001-1640609118732 .e_container-3 .cbox-3-0 {
    padding-left: 0;
    padding-right: 0;
        max-width: 94%;
}
  
  #c_static_001-1640609118732 .e_text-6{
    margin-top:10px;
    font-size:13px;
    

  }
  
  #c_static_001-1640609118732 .e_button-7{
  margin-bottom: 15px;
  }

  
  #c_grid-1645178480783 > .p_gridbox > .p_gridCell:nth-child(1n + 1) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    clear: left;
}
  
  #c_static_001-1645180288448 .e_text-1,
  #c_static_001-1645191063287 .e_text-1
  {
  font-size:24px;
    word-break: break-word;
  }
  
  #c_video_list_001-1645268082627 .e_text-5{
  font-size:13px;
  }
  
  #c_video_list_001-1645268082627 .e_timeFormat-6{
  font-size:12px;
  }
  
  #c_video_list_001-1645268082627 .e_container-3{
    margin-bottom:0px;
  }
  
#c_static_001-1645180288448 .e_text-2 {
    line-height: 1.5;
    margin-top: 15px;
    font-size: 13px;
}
  
  #c_static_001-1645180288448{
  width:90%;
  }
  #c_static_001-1645180856570 .e_text-6{
  -webkit-line-clamp: 1;
  }
  #c_static_001-1645180856570 .e_text-5{
  font-size: 16px;
    margin-bottom: 5px;
  }
  #c_static_001-1645180856570 .e_timeFormat-7{
  margin-bottom: 0px;
    margin-top: 10px;
  }
  
  #c_static_001-1636703125092{
  display:None;
  }
  
  /*首页结束*/
  
  
  #c_static_001-1640616153839 .e_text-6,
  #c_static_001-16451906970410 .e_text-6
  {
    font-size: 13px;
}
  
  #c_static_001-1640616153839 .e_loop-4 .p_loopitem,
  #c_static_001-16451906970410 .e_loop-4 .p_loopitem 
  {
  
    padding-left: 0;
}
  #c_static_001-1640616153839 .e_container-5,
   #c_static_001-16451906970410 .e_container-5
  {
     margin:0px;
    padding: 0px 10px;
   border:none;
    border-left:solid 1px #ddd;
  }
#c_static_001-1640616153839 .e_loop-4 .p_loopitem:first-child .e_container-5{
  border:none;
  }
  #c_static_001-1646636450386 .e_h1-2{
  font-size: 24px;
  }
  #c_static_001-1640616153839 .e_loop-4 .p_loopitem,
   #c_static_001-16451906970410 .e_loop-4 .p_loopitem
  {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: initial;
}
  #c_static_001-1646636450386 .e_line-3 {
    display-radio: 1;
    margin-top: 20px;
}
  #c_static_402-1646636489091 {
    padding-top: 0;
    padding-bottom: 40px;
}
  #c_static_402-1646636489091 .e_container-40 .cbox-40-0 {
    flex: 0 0 100%;
    align-self: center;
}
  #c_static_001-1640616153839 .e_loop-4 .p_list,
  #c_static_001-16451906970410 .e_loop-4 .p_list
  {
    margin-bottom: 10px;
}
  #c_introl_detail_005-1640617992091 .e_h1-7,
  #c_static_001-1645192402193 .e_h1-1
  {
  font-size:24px;
  }
  #c_introl_detail_005-1640617992091 {
    padding-top: 30px;
}
  #c_introl_detail_005-1640617992091 .e_richText-8{
  font-size:13px;
  }
  #c_static_001-1640616153839 .e_container-5:hover,
  #c_static_001-16451906970410 .e_container-5:hover 
  {
    border-style: none;
    background:none;
    border: solid 0px #ba3634;
}
  #c_grid-1645192392515 > .p_gridbox > .p_gridCell:nth-child(1n + 1){
    width:100%;
    margin:0px;
  }
  #c_static_001-1640616153839 .e_loop-4 .p_list {
   justify-content: space-around;
}
  #c_new_list_054-1645192468672 .e_text-8{
  
  font-size:13px;
  padding:0px 10px;
  }
  
  #c_static_001-1645191063287 .e_container-7 .cbox-7-1,
  #c_static_001-1645191063287 .e_container-7 .cbox-7-3,
  #c_static_001-1645191063287 .e_container-7 .cbox-7-4,
  #c_static_001-1645191063287 .e_container-16 .cbox-16-1,
  #c_static_001-1645191063287 .e_container-16 .cbox-16-3,
  #c_static_001-1645191063287 .e_container-16 .cbox-16-4
  {
  display:none;
  }
  
  #c_static_001-1645191063287 .e_text-13,
  #c_static_001-1645191063287 .e_text-11,
  #c_static_001-1645191063287 .e_text-8
  {
     font-size:15px;
  }
  #c_static_001-1645191063287 .e_text-26{
  font-size:13px;
    margin-top:5px;
  }
  #c_static_001-1645191063287 .e_text-22,#c_static_001-1645191063287 .e_text-20{
  font-size:13px;
    padding:5px;
  }
  
  
  #c_static_001-1645191063287 .e_richText-38{
      font-size: 13px;
        line-height: 1.2;
  }
  
  #c_static_001-1645191063287 .e_container-34 .cbox-34-0,
  #c_static_001-1645191063287 .e_container-33 .cbox-33-0,
  #c_static_001-1645191063287 .e_container-35 .cbox-35-0,
  #c_static_001-1645191063287 .e_container-36 .cbox-36-0
  {
    flex: inherit;
    float: left;
}
  #c_static_001-16454095230860 .e_text-6 {
    font-size: 13px;
}
  #c_static_001-1645191063287 .e_container-34 .cbox-34-1,
  #c_static_001-1645191063287 .e_container-33 .cbox-33-1,
  #c_static_001-1645191063287 .e_container-35 .cbox-35-1,
  #c_static_001-1645191063287 .e_container-36 .cbox-36-1
  {
    flex: auto;
}
  
  #c_static_001-1645191063287 .e_text-45,
  #c_static_001-1645191063287 .e_text-47,
  #c_static_001-1645191063287 .e_text-43,
  #c_static_001-1645191063287 .e_text-41,
  #c_static_001-1645191063287 .e_text-46,
  #c_static_001-1645191063287 .e_text-44,
  #c_static_001-1645191063287 .e_text-42,
  #c_static_001-1645191063287 .e_text-40
  {
   font-size:14px;
  }
  #c_static_001-1640616153839 .e_container-8,
  #c_static_001-16454240234880 .e_container-8,
   #c_static_001-16454154155370 .e_container-8,
   #c_static_001-16454095230860 .e_container-5
  {
    padding:0px;
    margin: 0px;
    border:none;
  }
  #c_static_001-1640616153839 .e_loop-7 .p_list {
    text-align: center;
}
  #c_grid-1646575084333 > .p_gridbox > .p_gridCell:nth-child(1n + 1),#c_grid-1646575084333{
    width:100%;
    margin:0px;
  }
  #c_static_001-1640616153839 .e_container-1{
    width:100%;
  }
  #c_static_001-1640616153839 .e_text-9,
  #c_static_001-16454240234880 .e_text-9,
  #c_static_001-16454154155370 .e_text-9,
  #c_static_001-16454095230860 .e_text-6
  {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  #c_static_001-1640616153839 .e_loop-7 .p_loopitem,
  #c_static_001-16454240234880 .e_loop-7 .p_loopitem,
  #c_static_001-16454154155370 .e_loop-7 .p_loopitem,
  #c_static_001-16454095230860 .e_loop-4 .p_loopitem
  
  {
    padding:0px;
    flex-basis: auto;
}
  
  #c_static_001-1640616153839 .e_loop-7,
   #c_static_001-16454240234880 .e_loop-7,
   #c_static_001-16454154155370 .e_loop-7,
   #c_static_001-16454095230860 .e_loop-4
  {
    margin:5px 0px;
  }
#c_static_001-1640616153839 .e_container-8:hover,
  #c_static_001-16454240234880 .e_container-8:hover,
  #c_static_001-16454154155370 .e_container-8:hover,
  #c_static_001-16454095230860 .e_container-5:hover
  {
    border-style: none;
    background:none;
    border: solid 0px #ddd;
}
  
  #c_static_001-1640616153839 .e_text-9:hover,
  #c_static_001-16454240234880 .e_text-9:hover,
  #c_static_001-16454154155370 .e_text-9:hover,
  #c_static_001-16454095230860 .e_text-6:hover
  {
    font-size: 13px;
    color: #08298d;
}
  #c_static_001-16454153011390 .e_h1-1{
    font-size:24px;
  }
  #c_static_001-16454153011390{
    margin-top:6%;
  }
  #c_product_list_019-1640703678198 .e_image-8 {
    padding-bottom: 70%;
    width: 90%;

}
  #c_product_list_019-1640703678198 .e_text-10{
  font-size:13px;
    padding:0px 10px;
  }
  #c_product_list_019-1640703678198 .e_container-7{
    padding-top:20px;
  }
  #c_product_detail_008-1640874111056 .e_imageList-96 .gallery-top {
    height: 50%;
    width: 100%;
}
  #c_product_detail_008-1640874111056 .e_imageList-96 {
    height: auto;
    display-radio: 1;
}
  #c_product_detail_008-1640874111056 .e_imageList-96 .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding-top: 5px;
}
  
  #c_product_detail_008-1640874111056 .e_h1-10 {
    font_radio: 2;
    font-size: 16px;
    color: rgba(51,51,51,1);
    font-weight: normal;
    display-radio: 1;
    margin-top: 20px;
}
  
  #c_product_detail_008-1640874111056 .e_container-6 .cbox-6-1 {
    margin-left: 0;
}
  #c_product_detail_008-1640874111056 .e_text-9 {
  
    font-size: 13px;
    word-break: break-word;
}
  
  #c_product_detail_008-1640874111056 .e_container-70{
    width:100%;
  }
  
  #c_product_detail_008-1640874111056 .e_container-30{
    width:98%;
    margin-top:20px;
  }
  
  #c_product_detail_008-1640874111056 .e_richText-33 p {
    line-height: 24px;
    font-size: 13px;
    color: #555;
    word-break: initial;
}
  #c_product_detail_008-1640874111056 .e_text-71 {
;
    padding-left: 12px;
    font-size: 16px;

}
  #c_product_list_002-16408743279900 .e_text-25,
  #c_form_003-16454199773180 .e_text-7
  {
    
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 20px;
}
  #c_product_list_002-16408743279900 .e_text-8{
  display:none;
  }
  
  #c_product_list_002-16408743279900 .e_text-7 {
    font_radio: 2;
    font-size: 13px;
    
  }
  
  #c_product_detail_008-1640874111056 .e_container-84 .cbox-84-0 {
    flex: 0 0 24%;
    align-self: center;
}
  #c_product_detail_008-1640874111056 .e_text-97{
  font-size:12px;
  }
  .reset_style {
    line-height: normal;
    word-wrap: break-word;
    font-size: 13px;
    color: #555;
    line-height: 1.5;
    word-break: initial;
}
  #c_product_detail_008-1640874111056 .e_text-83 {
    line-height: normal;
    display-radio: 1;
    font_radio: 2;
    color: rgba(136,136,136,1);
    font-size: 12px;
    border: solid 1px #ddd;
    margin: 2px;
    text-align: center;
    padding: 2px 2px;
}
  
  #c_static_001-1645364769026 .e_text-3{
  font-size:15px;
    word-break: normal;
  }
  #c_static_001-1645364769026 .e_text-7{
  word-break: normal;
    font-size:12px;
  }
  #c_static_001-1645364769026 .e_container-2{
    padding:5%;
  }
  
  #c_static_001-1645364769026 .e_richText-8 {
    display-radio: 1;
    font_radio: 2;
    font-size: 13px;
    color: rgba(85,85,85,1);
    line-height: 1.6;
}
  
 #c_download_list_013-1645405835162 .e_text-3 {
    line-height: 1.5;
    font_radio: 2;
    font-size: 13px;
    font-weight: normal;
    color: rgba(0,0,0,0.7);
} 
  #c_download_list_013-1645405835162 .e_container-2 .cbox-2-1 {
  display:none;
  }
  #c_static_001-1640616153839 .e_text-7{
  font-size:13px;
    margin-top: 12px;
    margin-bottom: 12px;

  }
  #c_static_001-1645348383550 .e_text-1{
    font-size:24px;
  }
  
  #c_static_001-1645411944100 .e_container-2 .cbox-2-2{
    display:none;
  }
  #c_static_001-1645411944100 .e_container-2 .cbox-2-0 {
    flex: 0 0 25%;
    align-self: center;
}
  #c_static_001-1645411944100 .e_text-8{
    font-size:14px;
        text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  #c_static_001-1645411944100 .e_text-9{
      line-height: 1.4;
        font-size: 12px;
    margin-top:5px;
  }
  
  #c_static_001-1645411944100 .e_timeFormat-6{
    font-size:24px;
  }
  #c_static_001-1645411944100 .e_timeFormat-7{
  margin-top: 5px;
        font-size: 15px;
  }
  #c_static_001-1645411944100 .e_container-2{
    margin-top:0px;
  }
  
  #c_static_001-16453597489230 .e_container-1 .cbox-1-0 {
    display: none;
    
  }
  #c_static_001-16453597489230 .e_text-7 {
   
    margin-top: 15px;
   
    font-size: 13px;
    margin-bottom: 15px;
}
  #c_new_detail_012-1640616728198 .e_h1-3{
    font-size: 18px;
    line-height:1.5;
  }
  #c_new_detail_012-1640616728198 .e_timeFormat-6{
    display:none;
  }
  #c_new_detail_012-1640616728198 .reset_style div {
    font-size: 13px;
    color: #555;
    line-height: 24px;
}
  #c_new_detail_012-1640616728198 .e_container-2{
    padding-left:20px;
    padding-right:20px;
  }
  #c_static_001-1640615603113{
    z-index:1;
  }
  
}

 /*大屏开始*/ 
@media only screen and (min-width: 769px){

}
 /*大屏结束*/ 


/*中屏开始*/
@media only screen and (max-width: 1024px) and (min-width: 769px){


}
/*中屏结束*/


 /*小小屏幕 开始*/ 
@media only screen and (max-width: 414px){
 
  
}
 /*小小屏幕 结束*/

